/*

Search bookmarks :

Popup
Header_Articles
Table_styles
Form


Notes :

Style pinned in index.html contain styles for images and self.

*/

/*Global styles*/

@media screen and (width: 800px) {

  body {
  	background: none;
  }

	div.container.main {
	    margin: 0;
	    border-radius: 0;
	    width: 100%;
	    height: 100%;	
	    max-width: 1000px;
	}

	#root, .App {
		width: 100%;
		height: 100%;
	}
}

.container.main {
	margin: 7% auto;
	background: #d3d3d3bd;
	/*height: 500px;*/
	border-radius: 10px;
	padding: 10px 30px;
	position: relative;
}

.container.main > button.delete {
	border: 1px solid black;
}

.logo > a{
	margin: 10px;
}

td {
	text-align: center;
}

.table-row-button {
	background: transparent;
	margin: 0px 5px;
	height: 35px;
}

a, img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

button.delete {
	border: none;
  border-radius: 0;
}

/*Header_Articles*/

.container-header {
  height: 55px;
  padding: 10px;
}

.header-main {
	font-size: 22px;
	font-weight: bold;
}

.header-main > a {
	float: right;
}

.header-button {
  width: 75px;
  height: 30px;
  line-height: 16px;
  margin-right: 5px;
  font-size: 17px;
  padding: 5px;
}

/*Popup */

.popup-container {
	width: 600px;
	height: 320px;
	border-radius: 15px;
	background: #fbf7f7f7;
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 300px);
	z-index: 1;
}

.popup-title {
	width: 100%;
	padding: 15px 30px;
	font-size: 22px;
	border-bottom: 1px solid #c7c1c4;
}

.popup-title > span {
	width: 24px;
	height: 24px;
	margin: 5px;
	background-size: contain;
    background-repeat: no-repeat;
    float: right;
	display: block;
	cursor: pointer;
}

.popup-body {
	height: 160px;
	padding: 15px 50px;
}

.popup-time {
	width: 100%;
	height: 50px;
	border-top: 1px solid #c7c1c4;
	padding: 10px 20px;
}

.popup-time > p {
	display: inline-block;
	margin: 10px;
	font-size: 15px;
}

.popup-time > p > span {
	color: #0676ffe8;
}

.popup-container > button {
	margin: 10px 0;
	background-color: #dae0e5;
}

/*Table_styles*/

.main-table {
	margin-top: 25px;
}

div.ReactTable .-loading > div {
	transform: none!important;
	transition: none!important;
}

.rt-tr-group {
	height: 60px;
}

.pagination-bottom {
	display: flex;
  justify-content: center;
}

.Table__itemCount {
  /* margin-top: 10px; */
  font-size: 14px;
}

.Table__pagination {
  position: absolute;
  padding: 20px 10px;
}

.Table__pageButton {
	box-sizing: border-box;
  font-size: 17px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.Table__pageButton:disabled {
  cursor: not-allowed;
  color: gray;
}

.Table__pageButton--active {
  color: #45b3e3;
  outline: none!important;
  font-weight: bold;
}

.Table__pageButton:focus {
  outline: none;
}

/*Rows*/
.rt-td {
	text-align: center;
}

div > .rt-tr {
	align-items: center;
}

.ReactTable {
	min-height: 240px;
	width: 100%;
}

.ReactTable .rt-thead.-header {
     box-shadow: none; 
}

/*Adding horisontal lines between pagination numbers*/

.Table__pageButton__Line {
	height: 17px;
  overflow: hidden;
  margin-top: 3px;
}

.Table__visiblePagesWrapper {
	display: flex;
}

/* Form */

.form-edit-form {
	width: 290px; 
}

.form-edit > .delete {
  position: absolute;
  bottom: 0px;
  left: 0;
}

.form-buttons {
	float: right;
}

.form-edit-form > input, textarea {
	margin: 10px 0;
	width: 290px;
}
